<%= turbo_stream.replace @bookint_type do %>
  <%= turbo_frame_tag @bookint_type do %>
    <%= link_to @bookint_type, class: "text-decoration-none", data: {turbo: false}  do %>
      <div class="card bg-c-<%= %w[blue green yellow pink].sample %> order-card">
        <div class="card-block">
          <h6 class="m-b-20">Start date: <span class="f-right"><%= " #{@bookint_type.start_date.strftime('%d-%b-%Y')}" %></span></h6>
          <h4 class="text-right">Amount:<span class="f-right"><%= " #{@bookint_type.amount} #{@bookint_type.currency}" %></span></h4>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>

<%= turbo_stream.replace  "#{dom_id(@bookint_type)}_edit_button" do %>
<%= turbo_frame_tag "#{dom_id(@bookint_type)}_edit_button" do %>
  <div>
    <%= link_to "Edit this bookint_type", edit_bookint_type_path(@bookint_type) %>
  </div>
<% end %>
<% end %>
