<%= simple_form_for booking do |f| %>

  <% if booking.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
        <% booking.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id, value: current_user.id %>

  <div data-controller="booking booking_type" >


      <%= f.association :provider, collection: User.providers, label_method: :email, value_method: :id, prompt: "Select a provider", input_html: { data: { action: "change->booking#change"}, :class => 'form-select'} %>

      <%= f.input_field :booking_type_id, class: "form-select form-select-lg mb-3", as: :select, collection: [], data: { action: "change->booking_type#change", booking_target: "bookingType"}, prompt: "After selecting a provider, you can select a service" %>

  </div>

    <%= f.input :start_time, as: :date, html5: true, class: 'form-select' %>

  <br>

    <%= f.input :start_time, as: :time, minute_step: 15, class: 'form-control' %>



  <br>
  <%= f.submit 'Save', class: 'btn btn-primary' %>
<% end %>
