<%= simple_form_for booking do |f| %>

  <% if booking.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
        <% booking.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id, value: current_user.id %>

  <div data-controller="booking booking_type" >
    <%= f.association :provider, as: :select, collection: User.providers, label_method: :email, value_method: :id, input_html: { data: { action: "change->booking#change"}} %>

    <%= f.label :booking_type_id, style: "display: block" %>
    <%= f.input_field :booking_type_id, as: :select, collection: [], data: { action: "change->booking_type#change", booking_target: "bookingType"} %>
  </div>

  <%= f.input :start_time, as: :date, html5: true%>
  <br>
  <%= f.input :start_time, as: :time, minute_step: 15 %>


  <br>
  <%= f.submit 'Save' %>
<% end %>
