<nav class="navbar navbar-expand-lg navbar-light bg-gradient-primary-custom">
  <div class="container">
    <%= link_to "Home", root_path, class: "nav-item nav-link text-primary" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if current_user&.provider? %>
          <%= link_to "Bookings", bookings_path, class: "nav-item nav-link" %>
          <%= link_to "Booking types", booking_types_path, class: "nav-item nav-link" %>
          <%= link_to "Costs", costs_path, class: "nav-item nav-link" %>
        <% elsif current_user&.client? %>
          <%= link_to "Book a service", new_booking_path, class: "nav-item nav-link" %>
        <% end %>
        <% if current_user %>
        <%= link_to "Dashboard",home_dashboard_path, class: "nav-item nav-link" %>
        <%= link_to "My bookings",bookings_path, class: "nav-item nav-link" %>
        <% end %>
      </ul>

      <ul class="navbar-nav mb-2 mb-lg-0">
        <% if user_signed_in? %>
          <%= link_to current_user.email, edit_user_registration_path, class: "nav-item nav-link" %>
          <%= button_to t('.sign_out'), destroy_user_session_path, method: :delete, class: "btn btn-link nav-item nav-link" %>
        <% else %>
          <%= link_to t('.sign_up'), new_user_registration_path, class: "nav-item nav-link" %>
          <%= link_to t('.sign_in'), new_user_session_path, class: "nav-item nav-link" %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
