<p style="color: green"><%= notice %></p>
  <%= render @cost %>

<%= turbo_frame_tag "#{dom_id(@cost)}_edit_button" do %>
  <div>
    <%= link_to "Edit this cost", edit_cost_path(@cost) %>
  </div>
<% end %>
<div>
  <%= link_to "Back to costs", costs_path %>

  <%= button_to "Destroy this cost", @cost, method: :delete %>
</div>
