<section class="page-section" id="booking-types">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Agende un servicio</h2>
      <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
    </div>
    <div class="row">
      <div class="col-xxl-2 col-lg-4 col-md-6 col-12 mb-4 text-center">
        <!-- Portfolio item -->
        <div class="portfolio-item">
          <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
            <%= image_tag "welcome/#{['appointment-1.png', 'appointment-2.jpg', 'appointment-3.jpg'].sample}",style: 'height:8rem; width:auto;' , class: 'img-fluid member-image p-2', alt: "..." %>
          </a>
          <div class="portfolio-caption">
            <div class="portfolio-caption-heading">Monotributo</div>
            <div class="portfolio-caption-subheading text-muted">Facturación mensual</div>
          </div>
        </div>
      </div>
      <div class="col-xxl-2 col-lg-4 col-md-6 col-12 mb-4 text-center">
        <!-- Portfolio item -->
        <div class="portfolio-item">
          <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
            <%= image_tag "welcome/#{['appointment-1.png', 'appointment-2.jpg', 'appointment-3.jpg'].sample}",style: 'height:8rem; width:auto;' , class: 'img-fluid member-image p-2', alt: "..." %>
          </a>
          <div class="portfolio-caption">
            <div class="portfolio-caption-heading">Monotributo</div>
            <div class="portfolio-caption-subheading text-muted">Cambio de categoría</div>
          </div>
        </div>
      </div>
      <div class="col-xxl-2 col-lg-4 col-md-6 col-12 mb-4 text-center">
        <!-- Portfolio item -->
        <div class="portfolio-item">
          <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
            <%= image_tag "welcome/#{['appointment-1.png', 'appointment-2.jpg', 'appointment-3.jpg'].sample}",style: 'height:8rem; width:auto;' , class: 'img-fluid member-image p-2', alt: "..." %>
          </a>
          <div class="portfolio-caption">
            <div class="portfolio-caption-heading">Responsable inscripto</div>
            <div class="portfolio-caption-subheading text-muted">DDJJ anual</div>
          </div>
        </div>
      </div>
      <div class="col-xxl-2 col-lg-4 col-md-6 col-12 mb-4 text-center">
        <!-- Portfolio item -->
        <div class="portfolio-item">
          <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
            <%= image_tag "welcome/#{['appointment-1.png', 'appointment-2.jpg', 'appointment-3.jpg'].sample}",style: 'height:8rem; width:auto;' , class: 'img-fluid member-image p-2', alt: "..." %>
          </a>
          <div class="portfolio-caption">
            <div class="portfolio-caption-heading">Repsonsable inscripto</div>
            <div class="portfolio-caption-subheading text-muted">Presentación mensual</div>
          </div>
        </div>
      </div>
      <div class="col-xxl-2 col-lg-4 col-md-6 col-12 mb-4 text-center">
        <!-- Portfolio item -->
        <div class="portfolio-item">
          <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
            <%= image_tag "welcome/#{['appointment-1.png', 'appointment-2.jpg', 'appointment-3.jpg'].sample}",style: 'height:8rem; width:auto;' , class: 'img-fluid member-image p-2', alt: "..." %>
          </a>
          <div class="portfolio-caption">
            <div class="portfolio-caption-heading">Liquidación de sueldos</div>
            <div class="portfolio-caption-subheading text-muted">Presentación AFIP</div>
          </div>
        </div>
      </div>
      <div class="col-xxl-2 col-lg-4 col-md-6 col-12 mb-4 text-center">
        <!-- Portfolio item -->
        <div class="portfolio-item">
          <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
            <%= image_tag "welcome/#{['appointment-1.png', 'appointment-2.jpg', 'appointment-3.jpg'].sample}",style: 'height:8rem; width:auto;' , class: 'img-fluid member-image p-2', alt: "..." %>
          </a>
          <div class="portfolio-caption">
            <div class="portfolio-caption-heading">Empresas</div>
            <div class="portfolio-caption-subheading text-muted">Conciliación de cuentas</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
